@import '../../../style/variables.scss';

.single-char {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 293px 550px auto;
  column-gap: 40px;
  align-items: start;
  &__char-img {
    width: 293px;
    height: 293px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
  }
  &__descr {
    font-size: 18px;
    line-height: 24px;
    margin: 24px 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin: 24px 0 50px 0;
    font-size: 20px;
  }
  &__link {
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;

    &:hover {
      color: $main-color;
    }
  }
}
